DEFAULT_DATABASE_URL = mysql+mysqlconnector://root:123456@127.0.0.1:3306/galio?charset=utf8
DB_KWARGS = {\n    "pool_recycle": 360,\n    "pool_size": 100,\n    "max_overflow": 10,\n    "logging_name": "sqlalchemy"\n}
redis.host = 127.0.0.1
redis.port = 6379
PERMANENT_SESSION_LIFETIME = 86400
REDIS_CACHE = {\n        "CACHE_TYPE": "redis",\n        "CACHE_REDIS_HOST": "127.0.0.1",\n        "CACHE_REDIS_PORT": 6379\n}
cas.url = https://cas.bchen.xyz
front.url = http://localhost:8000
server.url = http://localhost:8010
git.workspace = /Users/sai/data
query.max.size = 2000
k8s.pod.log.length = 1000
k8s.node.port.range = [30000, 32767]
domain.external = bchen.xyz
domain.internal = svc.cluster.local
socket.build.namespace = /galio/build
socket.deploy.namespace = /galio/deploy
